snippet go-makefile
	BINARY_NAME=${1:example}

  build:
		go build -o bin/$(BINARY_NAME)

	run: build
		bin/$(BINARY_NAME)

	clean:
		go clean
		rm bin/*

	test:
		go test ./...

	test_coverage:
		go test ./... -coverprofile=coverage.out

	.PHONY: tidy
	tidy:
		go mod tidy
