snippet Makefile-go
	BINARY_NAME=example
	build:
		GOARCH=amd64 GOOS=darwin go build -o bin/${BINARY_NAME}-darwin
		GOARCH=amd64 GOOS=linux go build -o bin/${BINARY_NAME}-linux
		GOARCH=amd64 GOOS=windows go build -o bin/${BINARY_NAME}-Windows_NT

	run: build
		bin/${BINARY_NAME}-$(OS)

	clean:
		go clean
		rm bin/*

	test:
		go test ./...

	test_coverage:
		go test ./... -coverprofile=coverage.out

	.PHONY: tidy
	tidy:
		go mod tidy
